.sidebarOpt{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

.sidebarOpt :hover{
    background-color: #e8f5fe;
    color:var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOpt>.MuiSvgIcon-root{
    padding: 2rem;
    font-size:3rem;

}
.sidebarOpt>.h2{
    font-size:2rem;
    margin-right: 2rem;
    font-weight: 700;
}

.sidebarOpt_active{
    color:var(--twitter-color);
}